<h1>MINES SWEEPER</h1>
<h2>Log In</h2>
<p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
<div>
    <form method="POST" action="/auth/login">
        <div>
            <label for="auth-username">Username</label>
            <input type="text" name="username" id="auth-username">
        </div>
        <div>
            <label for="auth-password">Password</label>
            <input type="password" name="password" id="auth-password">
        </div>
        <p>New here?</p> <a href="/auth/signup">Sign up!</a>
        <br>
        <input type="submit" value="Enter">
    </form>
</div>