<h1>MINES SWEEPER</h1>
<h2>Sign Up</h2>
<p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
<div>
    <form method="POST" action="/auth/signup">
        <label for="new-firstName">First Name</label>
        <input type="text" name="firstName" id="new-firstName">

        <label for="new-lastName">Last Name</label>
        <input type="text" name="lastName" id="new-lastName">

        <label for="new-username">Username</label>
        <input type="password" name="username" id="new-username">

        <label for="new-password">Password</label>
        <input type="password" name="password" id="new-password">

        <label for="new-number">Phone Number</label>
        <input type="email" name="phone" id="new-number">

        <label for="new-county">County</label>
        <input type="email" name="county" id="new-county">

        <label for="new-city">City</label>
        <input type="email" name="county" id="new-city">
        
        <input type="submit" value="Sign Up">
    </form>
</div>
