<div id="landing-top" class="row">
    <div class="card text-center" id="landing-card" style="width: 502px; height: 690px">
        <iframe width="500" height="281" class="landing-vid" src="https://www.youtube.com/embed/B94JZ6WoJ2o" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>   
        <div class="card-body">
            <h5 class="card-title" id="landing-title">Help Keep Our Communities Safe</h5>
            <div class="card-text">
                <p id="landing-message">
                    The Vietnam War is over but unexploded bombs and cluster munitions remain to this very day, disproportionately affecting the lives of people in areas that were once conflict zones and challenging Vietnam's path to growth.
                    <br><br>
                    Currently, there is great work being done to make sure Vietnam is safer and better situated for economic growth, environmental sustainability, and public health promotion.
                    Help us ensure that the Central Region of Vietnam is safe for all by submitting helpful tips if you ever encounter a possible bomb fragment or unexploded cluster munition. 
                    <br><br>
                    Will you join Mines Sweeper?
                    <br>
                </p>
            </div>
            <button class="btn btn-danger" onclick="document.location='/auth/signup'">Join</button>
        </div>
    </div>
</div>
<div id="landing-footer" class="row" style="width: 50rem">
    <div id="landing-info">
        <p class="font-weight-lighter" id="landing-message">
            This project is contextualized, inspired, and informed by the amazing work that the <a href="https://www.maginternational.org/what-we-do/where-we-work/vietnam/">Mines Advisory Group International</a> does through their community liaisons in areas contaminated by unexploded bombs. 
            <br><br>
            Community liasons, in this capacity, play an integral role in delivering risk education and bomb awareness to the local community. They also inform the public of ways to reach MAG/the authorities when they think they might have seen or encountered a potential bomb. Currently, there is a tip hotline for community members to inform about a possible bomb threat. This project will help fill any possible gaps of coverage within that hotspot. 
        </p>
    </div>
</div>