<div class="card text-center" style="width: 560px">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/B94JZ6WoJ2o" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>   
    <div class="card-body">
        <h5 class="card-title">Help Keep Our Communities Safe</h5>
        <div class="card-text">
            <p class="font-weight-lighter">
                The Vietnam War is over but unexploded bombs and cluster munitions remain to this very day, disproportionately affecting the lives of people in areas that were once conflict zones.
                <br><br>
                It's a public health, environmental, and economic challenge to growth in Vietnam, among other countries including Nigeria, Laos, Angola, etc.
                <br><br>
                This project is contextualized, inspired, and informed by the amazing work that <a href="https://www.maginternational.org/what-we-do/where-we-work/vietnam/">MAG International</a> does through their community liasons in areas contaminated by unexploded bombs.  
                <br><br>
                Community liasons, in this capacity, play an integral role in delivering risk education and bomb awareness to the local community. They also inform the public of ways to reach MAG/the authorities when they think they might have seen or encountered a potential bomb. Currently, there is a tip hotline for community members to inform about a possible bomb threat. 
                <br><br>
                <strong>Mines Sweeper</strong>, which provides another avenue for users to create tips by way of a web application, will help expand the reach of MAG International (and subsequentially the community members at large) to mitigate and manage harm reduction in their own communities.
            </p>
        </div>
        <button class="btn btn-primary" onclick="document.location='/auth/signup'">Join</button>
    </div>
</div>
