<h1>MINES SWEEPER</h1>

<iframe width="560" height="315" src="https://www.youtube.com/embed/B94JZ6WoJ2o" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<div>
    <h3>HELP KEEP OUR COMMUNITY SAFE</h3>
    <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>
    <button onclick="document.location='/auth/signup'">Join</button>
</div>


