<h2>GOT A TIP?</h2>
<div>
    <form method="POST" action="/tips/new">
        <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
        <label for="tip-username">Username</label>
        <input type="text" name="username" id="tip-username">
        <br>
        <label for="tip-address">Address</label>
        <input type="text" name="address" id="tip-address">
        <br>
        <label for="tip-county">County</label>
        <input type="text" name="countyName" id="tip-county">
        <br>
        <label for="description">Description</label>
        <input type="text" name="description" id="new-password" value="What does it look like? Let us know!">
        
        <input type="submit" value="Send">
    </form>
</div>