<h2><%= currentUser.name %>'s Tips</h2>


<% if(user && user.tips) { %>
    <% user.tips.forEach((tip) => { %>
        <div>
        <h3>
            <a href="/tips/show/<%= tip.id %>"><%= tip.description %></a>
        </h3>
        </div>
    <% }) %>
<% } else { %>
<h3>No tips yet!</h3>
<% } %>


<a href="/home">&larr; Back Home</a>