<h2>WELCOME, <%= currentUser.firstName %></h2>
<h2>Provinces</h2>

<% provinces.forEach((province) => { %>
  <div>
    <h3>
      <a href="/home/<%= province.id %>"><%= province.name %></a>
    </h3>
  </div>
<% }) %>


<!-- MAPS API RENDERING HERE -->
<!-- comment form here -->