<div>
  <h2 class="text-uppercase">WELCOME, <%= currentUser.firstName %></h2>
  <h2>Provinces</h2>
</div>

<% provinces.forEach((province) => { %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title"><%= province.name %></h5>
        <a href="/home/<%= province.id %>" class="card-link">More</a>
    </div>
  </div>
<% }) %>


<!-- MAPS API RENDERING HERE -->
