<% if(province && province.tips) { %>
    <% province.tips.forEach((tip) => { %>
      <div>
        <h3>
          <a href="/home/<%= province.id %>/<%= tip.id %>"><%= tip.description%></a>
        </h3>
      </div>
    <% }) %>
  <% } else { %>
  <h3>No tips from a province yet!</h3>
  <% } %>


<a href="/home/index">&larr; Back Home</a>