<div class="login" id="newtipform">
    <div>
        <h1 id="newtip">GOT A TIP?</h1>
    </div>
    <div class="container-sm">
        <form method="POST" action="/tips/new/<%= currentUser.id %>">
            <div class="form-row">
                <p>Sending a tip will inform administrators about a possible UXO threat close to the address and within the province submitted. <br><br> For more details on how MAG International regional officers collaborate with community liaisons near you, please visit <a href="https://www.maginternational.org/what-we-do/risk-education/">here.</a></p>
                <div class="form-group col-md-6">
                    <label for="new-province">Province</label>
                    <select name="provinceId" class="form-control" id="province" required>
                        <% provinces.forEach(function(province) { %>
                        <option value="<%= province.id %>"><%= province.name %></option>
                        <% }) %>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="tip-address">Address</label>
                    <input type="text" class="form-control" name="address" id="tip-address">
                </div>
                <div class="form-group col-md-12">
                    <label for="description">Description</label>
                    <textarea type="text" class="form-control" name="description" id="description">What does it look like? Let us know!</textarea>
                </div>
                <br><br>
            </div>
            <input type="submit"class="btn btn-warning" value="Send">
        </form>
    </div>
</div>